{% extends 'template.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h1>Admin Dashboard</h1>
<a href="/">Back to Home Page</a>
<a href="/admin/add">Add Entry</a>
{% if posts|length < 1%} 
<h4>No posts have been published. Add an entry above.</h4>
{% else %} 
<table>
    {% for post in posts%}
    <tr>
        <td>{{post.title}}</td>
        <td>{{post.date_created.date()}}</td>
        <td>
            <a href="/">Delete</a>
            <br>
            <a href="/admin/edit/{{post.id}}">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}