<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../static/styles.css">
</head>

<body>

    <div
    style="display: flex; flex-direction: row;">
        <button
        style="width: fit-content;"> Back </button>
        <h1 style="font-family:Arial, Helvetica, sans-serif">Publish Article</h1>
    </div>

    <input class="oneline-input"  id="newTitle" type="text" placeholder="Article Title">
    <input class="oneline-input" id="newDate" type="date" placeholder="Publishing Date">
    <textarea class = "multiline-input" id="newContent" type="text" placeholder="Content">
    </textarea>
    <button id="publish-button" onclick="publish()" >Publish</button>
    
</body>
</html>